body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 20px;
  background-color: #f5f5f5;
}
h1 {
  text-align: center;
}
form {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  background: #fff;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(5, 5, 5, 0.1);
}
label {
  display: block;
  margin-bottom: 8px;
  font-weight: bold;
}
.form-group {
  margin-bottom: 12px;
}
input,
select {
  width: 100%;
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
button {
  width: 100%;
  padding: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}
button:hover {
  background-color: #0056b3;
}
#back-button {
  width: 200px; /* Ajusta el ancho según prefieras */
  padding: 10px;
  background-color: #6c757d;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
  margin: 20px auto; /* Centra el botón horizontalmente */
  display: block;
}
#back-button:hover {
  background-color: #5a6268;
}
.password-container {
  position: relative;
}
.password-container input[type="password"],
.password-container input[type="text"] {
  width: 100%;
  padding: 8px 30px 8px 8px; /* Increased right padding to make room for the icon */
  border: 1px solid #ddd;
  border-radius: 4px;
  box-sizing: border-box;
}
.toggle-password {
  position: absolute;
  top: 53.5%;
  right: 10px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #007bff;
  font-size: 18px;
}