body {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f0f4f8;
  margin: 0;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  min-height: 100vh;
  position: relative;
  box-sizing: border-box;
}

.container {
  display: flex;
  justify-content: space-between;
  /* Separa el formulario y los resultados */
  flex-direction: column;
  gap: 20px;
  max-width: 100%;
  width: 100%;
  position: relative;
  align-items: flex-start;
}

.card {
  background-color: white;
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
  padding: 20px;
  width: 100%;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  color: #2c3e50;
  margin-bottom: 30px;
  font-size: 28px;
}

form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.form-row {
  display: flex;
  gap: 15px;
  margin-bottom: 15px;
}

.form-group {
  flex: 1;
}

label {
  display: block;
  margin-bottom: 8px;
  color: #34495e;
  font-weight: 600;
}

select,
select,
input {
  width: 100%;
  padding: 12px;
  border: 1px solid #bdc3c7;
  border-radius: 6px;
  box-sizing: border-box;
  font-size: 16px;
  transition: border-color 0.3s ease;
  margin-bottom: 10px;
}

select:focus,
input:focus {
  outline: none;
  border-color: #3498db;
}

button {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  transition: background-color 0.3s ease;
}

button:hover {
  background-color: #2980b9;
}

#loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  /* Centrado horizontal */
  align-items: center;
  /* Centrado vertical */
  z-index: 9999;
  flex-direction: column;
  /* Para que el loader y el texto se coloquen uno debajo del otro */
  transition: opacity 0.3s ease;
}

.loader {
  border: 5px solid #f3f3f3;
  border-top: 5px solid #3498db;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

#loading-overlay p {
  color: white;
  margin-top: 10px;
  font-size: 18px;
}

/* Estilos para los botones flotantes */
#add-server-btn,
#edit-server-btn {
  position: fixed;
  padding: 15px;
  border: none;
  border-radius: 50%;
  cursor: pointer;
  font-size: 12px;
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  text-align: center;
}

#add-server-btn {
  bottom: 20px;
  right: 20px;
  background-color: #9ae7f5;
  color: rgb(95, 86, 86);
}

#add-server-btn:hover {
  background-color: #49d8fc;
}

#edit-server-btn {
  bottom: 100px;
  right: 20px;
  background-color: #f5b342;
  color: #fff;
}

#edit-server-btn:hover {
  background-color: #e5942a;
}

#add-server-btn i,
#edit-server-btn i {
  font-size: 24px;
  margin-bottom: 5px;
}

#log-entries {
  display: block;
}

#result {
  background: #f9f9f9;
  border: 1px solid #dcdcdc;
  border-left: 4px solid #3498db;
  /* Añadir un borde izquierdo más llamativo */
  border-radius: 8px;
  padding: 20px;
  box-shadow: 0 2px 10px rgba(0, 0, 0, 0.05);
  /* Sombra ligera */
  transition: opacity 0.4s ease;
  display: none;
  margin-left: 50px;
  width: 40%;
}

#result h2 {
  margin-bottom: 10px;
  font-size: 20px;
  line-height: 1.6;
  color: #007bff;
}

#result p {
  margin: 5px 0;
}

#result p strong {
  color: #333;
}

.modal {
  display: none;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  z-index: 1000;
}

.modal-content {
  background-color: #fefefe;
  margin: 15% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 80%;
  border-radius: 10px;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

/* Aplica un recuadro rojo oscuro y fondo claro solo a la línea de Success cuando es No */
.log-entry p.error-box {
  display: inline-block;
  /* Esto hará que el cuadro se ajuste al tamaño del texto */
  border: 2px solid darkred;
  background-color: #fdd;
  color: darkred;
  padding: 5px;
  border-radius: 5px;
  font-weight: bold;
  cursor: pointer;
  /* Cambia el cursor a la forma de mano */
  width: 100%;
  /* Asegura que todo el campo sea clickeable */
}

/* Estilos para la ventana flotante */
.tooltip-error {
  position: absolute;
  background-color: rgba(255, 0, 0, 0.9);
  color: white;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  display: none;
  /* Oculto por defecto */
}

.tooltip-error::after {
  content: "";
  position: absolute;
  top: 50%;
  left: 100%;
  margin-left: 5px;
  border-width: 5px;
  border-style: solid;
  border-color: transparent transparent transparent rgba(255, 0, 0, 0.9);
}

.password-container {
  position: relative;
}

.password-container input[type="password"],
.password-container input[type="text"] {
  width: 100%;
  padding: 12px;
  /* Increased right padding to make room for the icon */
  border-radius: 4px;
  box-sizing: border-box;
  border: 1px solid #bdc3c7;
}

.toggle-password {
  position: absolute;
  top: 22px;
  right: 12px;
  transform: translateY(-50%);
  cursor: pointer;
  color: #827f8d;
  font-size: 18px;
}

#process-all-servers-btn {
  background-color: #2ecc71;
  margin-top: 1px;
  width: auto;         /* En lugar de 100% */
  min-width: 300px;    /* Ancho mínimo más grande para este botón */
  max-width: 60%;      /* Ancho máximo del 60% del contenedor */
  margin: 0 auto;      /* Centrar horizontalmente */
  margin-bottom: 1px;
  padding: 12px;
  /* Ajustado para dar más espacio dentro del botón */
  font-size: 16px;
  /* Ajustado para asegurar que el texto se vea bien */
}

#process-all-servers-btn:hover {
  background-color: #27ae60;
}

#gridContainer {
  margin-top: 30px;
  border-top: 1px solid #e0e0e0;
  padding-top: 30px;
  width: 100%;
  height: calc(100vh - 200px);
}

.grid-wrapper {
  width: 100%;
  overflow-x: auto;
  padding-bottom: 15px;
}
#postgresqlGridContainer h2 {
  margin-top: 40px; /* Controla el espacio superior del título */
  margin-bottom: 20px;
  position: relative;
  z-index: 1; /* Asegura que el título esté detrás del botón */
}

#myGrid {
  width: 100%;
  height: auto;
}

.ag-cell-wrapper {
  word-break: break-word;
}

.ag-root-wrapper {
  border: none !important;
}

/* Ocultar el scroll horizontal del cuerpo del grid */
.ag-body-horizontal-scroll {
  display: none !important;
}

.ag-cell {
  white-space: normal;
  line-height: 1.5em;
}

.process-button-card {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
  /* Ajustado para dar un poco más de espacio alrededor del botón */
  margin-top: 10px;
}

.status-failure {
  background-color: #ffebee;
  /* Un rojo más suave */
  color: #d32f2f;
  /* Un rojo más oscuro para el texto */
  padding: 4px 8px;
  border-radius: 4px;
  font-weight: bold;
  display: inline-block;
  width: 90%;
  /* Ajusta según necesites */
  margin: 0 auto;
}

#close-result {
  position: absolute;
  top: 10px;
  right: 20px;
  background: none;
  border: none;
  font-size: 24px;
  color: #333;
  cursor: pointer;
}

#close-result:hover {
  color: red;
}

#exportExcel {
  background-color: #3498db;
  color: white;
  border: none;
  padding: 14px;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  font-weight: 600;
  transition: background-color 0.3s ease;
  margin-top: 10px;
  width: 100%;
  top: 15px;
}

.ag-theme-alpine .ag-row {
  height: 50px;
  /* Ajusta el valor según la altura deseada */
}

/* Efecto de desenfoque específico para modales de rutas */
#add-route-modal,
#edit-route-modal {
  backdrop-filter: blur(5px);
}

#statisticsModal {
  backdrop-filter: blur(5px);
}

#historyModal {
  backdrop-filter: blur(5px);
}

.backup-route-container {
  display: flex;
  align-items: center;
}

.backup-route-container select {
  flex-grow: 1;
  margin-right: 10px;
}

.route-action-buttons {
  display: flex;
  gap: 5px;
}

.route-action-buttons .icon-button {
  background: none;
  border: none;
  color: #666;
  padding: 5px;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.route-action-buttons .icon-button:hover {
  color: #333;
}

.route-action-buttons .icon-button i {
  font-size: 18px;
}

/* Ajuste para los botones principales */
#verify-connection-btn,
#server-form button[type="submit"] {
  width: auto;         /* En lugar de 100% */
  min-width: 200px;    /* Ancho mínimo para que sea clickeable */
  margin: 0 auto;      /* Centrar horizontalmente */
  display: block;      /* Para que el margin auto funcione */
  padding: 12px 20px;  /* Padding horizontal y vertical */
  margin-bottom: 10px; /* Espacio entre botones */
}

/* El botón de Test Conexion puede ser un poco más pequeño */
#verify-connection-btn {
  width: 30%;          /* Ancho del 30% del contenedor */
  min-width: 150px;    /* Ancho mínimo */
}

/* Media query para dispositivos pequeños */
@media (max-width: 768px) {
  #verify-connection-btn,
  #server-form button[type="submit"],
  #process-all-servers-btn {
    width: 100%;      /* En dispositivos pequeños, ancho completo */
  }
  
  .button-container {
    flex-direction: column;
  }
}

/* Crear un contenedor flexible para los botones */
.button-container {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
  gap: 15px;           /* Espacio entre botones */
}